* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

hr {
  margin: 20px 0;
  border: 1px solid #D3D3D3;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}

/* NAVIGATION */


.navbar {

    background: transparent;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    padding: 0 10px 0 10px;
}

.navbar a {

    color: #fff !important;
    opacity: 0.7;
}


.navbar a:hover {

    opacity: 1;
    background-color: transparent !important;

}

.navbar li {

    list-style: none;
    display: inline-block;

}

/* HEADER */

.header {

    height: 550px;
    width: 100%;
    text-align: center;
    background-image: url(../images/steer.jpg);
    background-image: linear-gradient(90deg, rgba(49, 61, 65, 0.2), rgba(49, 61, 65, 0.2)), url(../images/bmw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {

  line-height: 350px;
  vertical-align: middle;
  font-size: 70px;
  color: #fff;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 600;

}

.header .contact-btn button {

      padding: 0 30px;
      color: #fff;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #fff;
      cursor: pointer;
      position: absolute;
      top: 290px;
      left: 590px;

}

.header .contact-btn button:hover {

  background-color: #bdbdbd;
  border: 1px solid #FFFFFF;

}

@media(max-width:768px) {

    .header {

        padding: 30px;
        height: 750px;
    }

    .header img {

        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }

    .header .contact-btn button {

      padding: 0 30px;
      position: absolute;
      top: 130px;
      left: 150px;
    }

    .header h1 {

        font-size: 20px;
    }

    .header p {

        font-size: 10px;
    }
}

/* FORM HEADER */

.form-header {

  height: 450px;
  width: 100%;
  text-align: center;
  background-image: url(../images/steer.jpg);
  background-image: linear-gradient(90deg, rgba(49, 61, 65, 0.2), rgba(49, 61, 65, 0.2)), url(../images/steer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.form-header h1 {

  line-height: 300px;
  vertical-align: middle;
  font-size: 70px;
  color: #fff;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 600;

}

/* M3 */

.m3 {

  font-family: "PT Sans Narrow", Arial, sans-serif;
  padding: 50px;

}

.m3 p {

  font-size: 20px;

}

.m3 img {

  float: right;
  width: 400px;
  height: 200px;
  padding: 10px;

}

/* FORM */

.form {

  padding: 50px;
  font-family: "PT Sans Narrow", Arial, sans-serif;

}
